/* ---------------------------------------------------------------------------- */
/* Color Palette */

$grey-dark:   #3F5670;    $black: $grey-dark;
$grey-mid:    #7F929D;    /*TODO: needed? */
$grey-light:  #D5D9E8;
$grey-ghost:  #FBFCFE;

$blue:   #0095FF;
$green:  #41A300;   $ok: $green;
$orange: #FF903C;   $degraded: $orange;
$red:    #FF5A3C;   $outage: $red;


/* ---------------------------------------------------------------------------- */
/* Font Config */

$font-fallback: "Helvetica Neue", Helvetica, sans-serif;
$font-ui:       "proxima-nova", $font-fallback;
$font-small:    $font-fallback;

$weight-light:  300;
$weight-normal: 400;     $weight-regular: $weight-normal;
$weight-medium: 500;
$weight-bold:   600;


/* Typography */
$font-size-base: 16px;



/* ---------------------------------------------------------------------------- */
/* Layout */

$width--main-column: 780px;
$width--large-column: 940px;
$footer-height: 60px;



/* ---------------------------------------------------------------------------- */
/* Responsiveness */

$phone: 320px;
$tablet: 768px;
$desktop-sm: 960px;
$desktop: 1024px;
$desktop-lg: 1200px;

/* ---------------------------------------------------------------------------- */
/* Mixins (https://github.com/jonathantneal/precss) */

/* Descender underlines: allows descenders to overlay underline */
@define-mixin desc-underlines $color, $bg, $size, $hover {
  
  @if $color == "reset" { /* use "reset" to remove underlines as needed */
    text-shadow: initial;
    box-shadow: initial;
  } @else {

    /* create stroke around letters */
    text-shadow: 1px 0.25px 0 $bg,
                -1px 0.25px 0 $bg, 
                 2px 0      0 $bg, 
                -2px 0      0 $bg;  

    /* applies the underline */
    box-shadow: inset 0 (-($(size) - 1)) 0 0 $bg, 
                inset 0 (-$(size)) 0 0 $color;

    @if $hover == true { /* handle the hover programmatically */
      &:hover {
        box-shadow: inset 0 (-$size) 0 0 $bg, 
                    inset 0 (-($size + 1)) 0 0 $color;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

/* Allows us to pass various flexbox attributes. */
/* @content allows us to pass others that are less used */
@define-mixin flex $direction:null, $justify:null, $align:null {
  display: flex;
  @if $direction != null {
      flex-direction: $direction;
  }
  @if $justify != null {
      justify-content: $justify;
  }
  @if $align != null {
      align-items: $align;
  }
}