@import "normalize";
@import "config";

/* ---------------------------------------------------------------------------- */
/* General */

#app {
  position: relative;
}


/* ---------------------------------------------------------------------------- */
/* Header */

$_subscr-width: 178px;
$_logowrap-width: $width--large-column - $_subscr-width;

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  
  border-bottom: 1px solid rgba($grey-light, 0.5);
  box-sizing: border-box;

  @media (min-width : $(tablet)){
    flex-direction: row;
    height: 100px;
  }

  @media (min-width : $(desktop)){
    padding: 0;
  }

  &__logo {
    flex: 1;
    max-width: 100%;
    padding-bottom: 15px;

    img {
      width: 100%;
    }
    
    @media (min-width : $(tablet)){
      max-width: calc($_logowrap-width);
      padding-bottom: 0;

      img {
        width: 360px;
      }
    }
  }

  &__subscribe {
    display: block;
    width: $_subscr-width;
    padding: 10px 0;
    color: $black;
    border: 1px solid $grey-light;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: $weight-bold;
    text-decoration: none;
    text-align: center;
  }
}


/* ---------------------------------------------------------------------------- */
/* Status Overview */

.board {
  margin: 20px 20px 0;
  box-sizing: border-box;
  overflow-y: hidden;

  @media (min-width : $(tablet)){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px 0;
  }

  @media (min-width : $(desktop)){
    width: $width--large-column;
    height: 300px;
    margin: 1px auto 0;
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    background: $grey-ghost;
    width: 100%;
    left: 0;
    top: 0;

    @media (min-width : $(desktop)){
      width: 100%;
      height: 300px;
    }
  }
}

.system {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 80px;
  margin-bottom: 20px;
  padding: 0 29px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid $grey-light;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: $font-ui;

  @media (min-width : $(tablet)){
    flex-basis: 350px;
    flex-grow: 1;
    margin: 0 20px 20px;
    &:nth-child(2n){
      margin-left: 0;
    }
  }

  @media (min-width : $(desktop)){
    flex-basis: 300px;
    flex-grow: initial;
    width: 300px;
    margin: 0;
  }

  &:after {
    content: '';
    position: absolute;
    width: 17px;
    height: 12px;
    top: 50%;
    right: 29px;
    transform: translateY(-50%);
  }

  /* BEM : Elements */
  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: $weight-normal;
  }

  &__caption {
    margin-bottom: -4px;
    padding-top: 5px;
    font-size: 14px;
  }

  /* BEM : Mods */
  @each $icon in (ok, degraded, down) {
    &--status-$(icon) {
      &:after {
        background: url('../static/svg/$(icon).svg') no-repeat;
      }
    }
  }

  &--status-ok {
    color: $black;
    .system__caption {
      display: none;
    }
  }

  &--status-degraded,
  &--status-outage {
    background: white;

    .system__title {
      font-weight: $weight-medium;
    }
  }

  &--status-degraded {
    color: $degraded;
    border-color: $degraded;
    box-shadow: 0px 1px 0px 0px rgba(#000, 0.10), 
          inset 0px 2px 1px 0px #FFFFFF, 
          inset 0px -2px 0px 0px rgba($degraded, 0.05);

    &:after {
      background: url('../static/svg/degraded.svg') no-repeat;
      height: 15.5px;
    }
  }

  &--status-outage {
    color: $outage;
    border-color: $outage;
    box-shadow: 0px 1px 0px 0px rgba(#000, 0.10), 
          inset 0px 2px 1px 0px #FFFFFF, 
          inset 0px -2px 0px 0px rgba($outage, 0.05);

    &:after {
      background: url('../static/svg/outage.svg') no-repeat;
      height: 18px;
    }
  }
}



/* ---------------------------------------------------------------------------- */
/* Incidents */

.details {
  max-width: $width--main-column;
  margin: 50px 20px 0;

  @media (min-width : $(width--main-column)){
    margin: 52px auto 0;
  }

  /* BEM : Elements */
  &__header {
    position: relative;
    margin: 0;
    font-family: $font-ui;
    font-size: 30px;
    font-weight: $weight-normal;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      bottom: -2px;
      background: $grey-light;
    }
  }
}

.issue {
  font-family: $font-ui;

  &__title {
    margin: 34px 0 0;
    font-size: 20px;
    font-weight: $weight-bold;
    line-height: 24px;
  }

  &__body {
    margin: 0;
    color: $grey-mid;
    font-size: 16px;
    line-height: 24px;
  }
}

/*<section class="details">
  <h2 class="details__header">Current Incidents</h2>

  <div class="issue issue--status-degraded">
    <h3 class="issue__title ">Testing</h3>
    <div class="issue_systems">
      <h4>Affected Systems:</h4>
      <ul>
        <li>Admin Dashboard</li>
      </ul>
    </div>
    <p class="issue_body">here is a description. words words words words words.</p>
  </div>
</section>*/
